# Lecture 15

# Tuples - part 3

# Once a tuple is create, you cannot change its values. Tuples are unchangeable, or immutable as it also is called

# Converting tuple into list

In [2]:
x = ("date", "python", "science", "shubham")
print(x)
print(type(x))

y = list(x)
print(y)
print(type(y))

('date', 'python', 'science', 'shubham')
<class 'tuple'>
['date', 'python', 'science', 'shubham']
<class 'list'>

# add items

In [3]:
a = (25,2,27,28,29)
y = list(a)
print(y)
print(type(y))

y.append(30)
print("the new list is")
print(y)

x = tuple(y)
print("the new item added on tuple is")
print(x)

[25, 2, 27, 28, 29]
<class 'list'>
the new list is
[25, 2, 27, 28, 29, 30]
the new item added on tuple is
(25, 2, 27, 28, 29, 30)

# Add tuple to a tuple

In [5]:
tup1 = ("python", "data", "science", "shubham")
y = ("code",)
tup1+=y
print(tup1)

('python', 'data', 'science', 'shubham', 'code')

# Remove items

In [8]:
fruits = ("apple", "banana", "cherry", "date", "flg")

fruit_list = list(fruits)
print(fruit_list)

fruit_list.remove("cherry")
print(fruit_list)

fruit_tup = tuple(fruit_list)
print(fruit_tup)

['apple', 'banana', 'cherry', 'date', 'flg']
['apple', 'banana', 'date', 'flg']
('apple', 'banana', 'date', 'flg')

# changing the item in a tuple

In [14]:
x = ("apple", "banana", "cherry", "date", "flg")
y = list(x)
print(y)

y[1] = "blueberry"
print(y)

z = tuple(y)
print(z)

['apple', 'banana', 'cherry', 'date', 'flg']
['apple', 'blueberry', 'cherry', 'date', 'flg']
('apple', 'blueberry', 'cherry', 'date', 'flg')

# Del keyword

In [15]:
x - (2,9,583,84,37,8)
del x

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

# loop through a tuple

In [16]:
thistuple = ("a", "b", "c")
for x in thistuple:
    print(x)

a
b
c

# join two tuples

In [17]:
tuple1 =  ("a", "b", "c")
tuple2 =(1,2,3,4)

tuple3 = tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3, 4)

# Multiply tuples

In [18]:
fruits = ("apple", "banana", "cherry")
mytup = fruits*2
print(mytup)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [19]:
fruits = ("apple", "banana", "cherry")
mytup = fruits*3
print(mytup)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Lecture 16

# Sets part 1

# creating sets

In [20]:
my_var = {1,2,3,4}
print(my_var)
print(type(my_var))

{1, 2, 3, 4}
<class 'set'>

# set() method

In [21]:
another_set = set([10,20,30,40])
print(another_set)
print(type(another_set))

{40, 10, 20, 30}
<class 'set'>

# empthy set

In [22]:
abc = {}
print(abc)
print(type(abc))

{}
<class 'dict'>

In [23]:
xyz = set()
print(xyz)
print(type(xyz))

set()
<class 'set'>

# properties of set

# 1) unordered

In [24]:
my_set = {3,1,4,2}
print(my_set)

{1, 2, 3, 4}

# 2) No indexing/slicing

In [1]:
a = {'animals', 'ball', 'cat'}
print(a[0])

TypeError: 'set' object is not subscriptable

In [2]:
a = {'animals', 'ball', 'cat'}
print(a[0:2])

TypeError: 'set' object is not subscriptable

# 3. unique elements

In [3]:
my_set = {0,12,34,25,34,56,76,45,10,12,14,98,12,96}
print(my_set)

{0, 96, 34, 98, 10, 12, 76, 45, 14, 56, 25}

# 4. Iterable

In [4]:
my_set = {14,25,37,41,23}
for element in my_set:
    print(element)

25
37
23
41
14

# 5. Hashable elements

my hashable objects(objects with a fixed hash value) can be added to a set. This means that sets cannot contain
mutable types like lists or dictionaries

In [5]:
my_set = {1,2,3,"a",3.6,(10,20)}
print(my_set)

{1, 2, 3, 3.6, 'a', (10, 20)}

In [6]:
my_set = {1,2,3,3.6,'b',[14,15,16]}
print(my_set)

TypeError: unhashable type: 'list'

In [7]:
x = {{'a':1, 'b':2}}
print(x)

TypeError: unhashable type: 'dict'

# Lecture 17

# Sets parts 2

# True and 1 are considered as same value

In [9]:
a = {'animals', 'ball',25,24,3.6,5,5.9,1,56,True}
print(a)

{1, 3.6, 5, 5.9, 'ball', 24, 25, 56, 'animals'}

In [11]:
a = {'animals', 'ball',25,24,3.6,5,5.9,1,56,True,0,23,False}
print(a)

{0, 1, 3.6, 5, 5.9, 'ball', 23, 24, 25, 56, 'animals'}

In [12]:
a = {'animals', 'ball',25,24,3.6,5,5.9,56,True}
print(a)

{True, 3.6, 5, 5.9, 'ball', 24, 25, 56, 'animals'}

In [13]:
a = {'animals', 'ball',25,24,3.6,5,5.9,1,56,True,23,False}
print(a)

{False, 1, 3.6, 5, 5.9, 'ball', 23, 24, 25, 56, 'animals'}

# Nested is not a property of the set

In [14]:
a = {{11,12,13}, {4,5,6}}
print(a)

TypeError: unhashable type: 'set'

# check if item is present in the set or not

In [15]:
a = {"data", "shubham", "python"}
print("shubham" in a)

True

In [16]:
b = {"nitesh", "ayush", "python"}
print("data" in b)

False

# get the lenght of the set

In [17]:
a = {"animals", "bat", "cat", 1,12,35,345, 65,7869,36,45}
print(len(a))

11

# Add items

# Once a set is created, you cannot change the items but you can add the new items

In [18]:
a = {"a1", "b1", "c1", 1,2,3}
a.add("d1")
print(a)

{1, 2, 3, 'c1', 'd1', 'b1', 'a1'}

# update method

In [19]:
x = {"data", "python", "code"}
y = {10,20,30,40,50,60,70,80}

x.update(y)
print(x)

{'data', 70, 40, 10, 80, 'code', 50, 'python', 20, 60, 30}

# remove items form the set

In [20]:
n = {70,40,10,"code", "science", "data", 45,5,345,2.3,5.6}
n.remove(40)
print(n)

{'data', 2.3, 5, 70, 5.6, 10, 45, 'science', 'code', 345}

In [21]:
n = {70,40,10,"code", "science", "data", 45,5,345,2.3,5.6}
n.remove("code")
print(n)

{'data', 2.3, 5, 70, 5.6, 40, 10, 45, 'science', 345}

In [22]:
n = {70,40,10,"code", "science", "data", 45,5,345,2.3,5.6}
n.remove(2.3)
print(n)

{'data', 5, 70, 5.6, 40, 10, 45, 'science', 'code', 345}

# pop method

In [24]:
a = {12,23,45,65,76,89,678,987,5678,32,21}
c = a.pop()
print(a)
print(c)

{65, 678, 76, 12, 45, 5678, 21, 23, 89, 987}
32

In [26]:
x = {"code", "apple", "shubham", 567,34,25,3,4,1,25,2,7}
y = x.pop()
print(y)
print(x)

1
{2, 3, 34, 4, 'apple', 7, 'code', 'shubham', 567, 25}

# clear method

In [27]:
x = {"code", "apple", "shubham", 567,34,25,3,4,1,25,2,7}

x.clear()
print(x)

set()

# delete method

In [28]:
y = {"banana", "mango", "cherry", 9,5,6,7,87,98}

del y
print(y)

NameError: name 'y' is not defined

# Lecture 18

# sets part 3

# Join Two sets

In [29]:
x = {'a', 'b', 'c', 'd'}
y = {1,2,3,4}

z = x.union(y)
print(z)

{1, 2, 3, 4, 'c', 'b', 'a', 'd'}

# Write a python program to find the maximum and minimum values in a set.

In [32]:
setn = {5,3,24,34,7,8,2,9,12}

print("the maximum values in this set is")
print(max(setn))
print("the minimum values in this set is")
print(min(setn))

the maximum values in this set is
34
the minimum values in this set is
2

# Set Operations

In [33]:
set1 = {1,2,3}
set2 = {3,4,5}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

# Intersection method

In [35]:
set1 = {12,35,45}
set2 = {45,67,89}

inter = set1.intersection(set2)
print(inter)

{45}

# Difference method

In [36]:
set1 = {1,2,3}
set2 = {3,4,5}

diff = set1.difference(set2)
print(diff)

{1, 2}

In [37]:
set1 = {1,2,3}
set2 = {3,4,5}

diff = set2.difference(set1)
print(diff)

{4, 5}

# Lecture 19

# Dictionary part 1

# Creating simple dictionary

In [39]:
person = {
    'name' : "shubham",
    'age' : 30,
    'city' : 'Bangaorle'
}

In [40]:
print(person)
print(type(person))

{'name': 'shubham', 'age': 30, 'city': 'Bangaorle'}
<class 'dict'>

# Dictionary with different data types

In [41]:
mixed_dict = {
    'name' : "Bob",
    'age' : 25,
    'courses' : ["maths", "physis", "chemistry"],
    'address' : {
        'street' : "123 main st",
        'city' : "Delhe",
        'zipcode' : "12345"
    }
    
}

In [42]:
print(mixed_dict)
print(type(mixed_dict))

{'name': 'Bob', 'age': 25, 'courses': ['maths', 'physis', 'chemistry'], 'address': {'street': '123 main st', 'city': 'Delhe', 'zipcode': '12345'}}
<class 'dict'>

# Empty dictionary

In [43]:
empty = {}
print(empty)
print(type(empty))

{}
<class 'dict'>

# Dict Constructor

In [46]:
person = dict(name = 'shubham', age = 20, city = 'fatehpur')
print(person)
print(type(person))

{'name': 'shubham', 'age': 20, 'city': 'fatehpur'}
<class 'dict'>

# Dictionary comprehension

In [47]:
squares = {x: x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Lecture 20

# Dictionary part 2

# Characterstics of the dictionary

# Asessing values using keys

In [49]:
person = {
    'name' : "shubham",
    'age' : 20,
    'city' : "fatehpur"
}

In [52]:
print(person['name'])

shubham

In [53]:
print(person['age'])

20

In [54]:
print(person['city'])

fatehpur

Dictionaries in Python do not maintain any specific order for their elements. The order in which items are stored are stored
my not necessarily be the order in which they are retrieved. Form Python 3.7 onwards, dictionaries maintain insertion order,
which means items are generally stroed and returned in they were added

In [56]:
person = {
    'name' : 'shubham',
    'age' : 20
}

In [57]:
print(person)

{'name': 'shubham', 'age': 20}

In [58]:
person = {
    'name' : 'shubham',
    'age' : 20,
    'name' : 'nitshant'
}

In [59]:
print(person)

{'name': 'nitshant', 'age': 20}

# Flexible key types

while keys in dictionar must be unique, they can be
of various data types, including strings, integers,
floats and tuples (if they contain only hashable objects).

In [60]:
data = {
    'name' : 'john',
    123 : 'integer key',
    3.6 : 'float key',
    (1,2) : 'tuple key'
}

In [61]:
print(data)

{'name': 'john', 123: 'integer key', 3.6: 'float key', (1, 2): 'tuple key'}

In [62]:
data = {
    'name' : 'john',
    123 : 'integer key',
    3.6 : 'float key',
    (1,2) : 'tuple key',
    [1,2,3] : 'list key'
}

TypeError: unhashable type: 'list'

In [64]:
data = {
    'name' : 'john',
    123 : 'integer key',
    3.6 : 'float key',
    (1,2) : 'tuple key',
    {'age':20, 'year':2004}: 'dictionary key'
}

TypeError: unhashable type: 'dict'

# Duplicates not allowed

In [65]:
    dict = {
        'ID' : '1234ABQ',
        'color' : 'red',
        'year' : 2003,
        'year' : 2004
    }

In [66]:
print(dict)

{'ID': '1234ABQ', 'color': 'red', 'year': 2004}

# Lecture 21

# Dictionary part 3

# Membership testing

In [67]:
person = {
    'name' : 'shubham',
    'age' : 20,
    'city' : 'delhi'
}

In [68]:
print('name' in person)

True

In [69]:
print('email' in person)

False

In [70]:
print('shubham' in person)

False

# Nested Dictionaries

In [88]:
employees = {
    'emp1' : {'name' : 'Alice', 'age' : 30, 'city' : 'pune'},
    'emp2' : {'name' : 'priya', 'age' : 35, 'city' : 'hyderabad'}
}

In [89]:
print(employees['emp1'])

{'name': 'Alice', 'age': 30, 'city': 'pune'}

In [90]:
print(employees['emp1']['name'])

Alice

In [95]:
print(employees['emp2'])

{'name': 'priya', 'age': 35, 'city': 'hyderabad'}

In [96]:
print(employees['emp2']['name'])

priya

In [97]:
print(employees['emp1']['age'])

30

# Lecture 22

# Dictionary in python part 4

# Dictionary length

In [98]:
dict = {"ID":1234567,
        "color":"red",
        "year":1997}

In [99]:
print(len(dict))

3

# Get keys

In [100]:
a = {"name":"priya", "age" : 28, "country":"India"}

In [101]:
x = a.keys()

In [102]:
print(x)

dict_keys(['name', 'age', 'country'])

# Get values

In [103]:
a = {"name":"priya", "age" : 28, "country":"India"}

In [104]:
y = a.values()

In [105]:
print(y)

dict_values(['priya', 28, 'India'])

# change values

In [107]:
a = {"name":"priya",
     "age":28,
     "country":"India"}
print(a)

{'name': 'priya', 'age': 28, 'country': 'India'}

In [108]:
a['country'] = "Bharat"
print(a)

{'name': 'priya', 'age': 28, 'country': 'Bharat'}

In [109]:
a["age"] = 35
print(a)

{'name': 'priya', 'age': 35, 'country': 'Bharat'}

# Adding items

In [110]:
person = {'name':"Alice",
          'age':30}
print(person)

{'name': 'Alice', 'age': 30}

In [111]:
person['city'] = 'New Dehli'
person['email id'] = "alice123@gamil.com"

print(person)

{'name': 'Alice', 'age': 30, 'city': 'New Dehli', 'email id': 'alice123@gamil.com'}

# Update method

In [112]:
person = {'name':"Alice",
          'age':30,
          'country':"pune",
          'gender':"male"}
print(person)

{'name': 'Alice', 'age': 30, 'country': 'pune', 'gender': 'male'}

In [113]:
person.update({"phone number":54678923104})

In [114]:
print(person)

{'name': 'Alice', 'age': 30, 'country': 'pune', 'gender': 'male', 'phone number': 54678923104}

In [123]:
person.update({"mail id":"alice123@gmail.com","adhar number":995654297492})

In [124]:
print(person)

{'name': 'Alice', 'age': 30, 'country': 'pune', 'gender': 'male', 'phone number': 54678923104, 'mail id': 'alice123@gmail.com', 'adhar number': 995654297492}

# Remove items

In [132]:
a = {'name': 'Alice', 'age': 30, 'country': 'pune', 'gender': 'male'}

In [133]:
print(a)

{'name': 'Alice', 'age': 30, 'country': 'pune', 'gender': 'male'}

In [134]:
a.pop("age")
print(a)

{'name': 'Alice', 'country': 'pune', 'gender': 'male'}

# del method

In [135]:
a = {'name': 'Alice', 'age': 30, 'country': 'pune', 'gender': 'male'}

In [136]:
del a["age"]
print(a)

{'name': 'Alice', 'country': 'pune', 'gender': 'male'}

In [137]:
del a["country"],a["gender"]
print(a)

{'name': 'Alice'}

In [138]:
a = {'name': 'Alice', 'age': 30, 'country': 'pune', 'gender': 'male'}

del a

In [139]:
print(a)

NameError: name 'a' is not defined

# clear method

In [140]:
a = {'name': 'Alice', 'age': 30, 'country': 'pune', 'gender': 'male'}
print(a)

{'name': 'Alice', 'age': 30, 'country': 'pune', 'gender': 'male'}

In [141]:
a.clear()
print(a)

{}

# Lecture 23

# Dictionary part 5

# practice question - 1

# Write a python script to concatenate the following dictionaries to create a new one.

In [146]:
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}

dic4 = {}

for d in (dic1,dic2,dic3):dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# Print a dictionary where the keys are numbers between 1 and 15 and the values are square of keys

In [147]:
square_dict = {}

for num in range(1,16):
    square_dict[num] = num**2

print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [148]:
square_dict = {}

for num in range(1,101):
    square_dict[num] = num**2

print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

# Check whether a given key already in a dictionary

In [150]:
d = {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}

def is_key_present(x):
    if x in d:
        print("key is present in the dictionary")
    else:
        print("key is not present in the dictionary")

In [152]:
is_key_present(3)

key is present in the dictionary

In [153]:
is_key_present(10)

key is not present in the dictionary

In [154]:
is_key_present(4)

key is present in the dictionary

# Lecture 24

# OOPS

# Procedural programming

In [1]:
num1 = 40
num2 = 10

sum = num1+num2
diff = num1-num2
print(sum)
print(diff)

50
30

In [1]:
num1 = 60
num2 = 50

sum = num1+num2
diff = num1-num2
print(sum)
print(diff)

110
10

# Functional programming

In [2]:
def add_numbers(a,b):
    print(a+b)

def subtract_numbers(a,b):
    print(a-b)

In [3]:
add_numbers(40,10)

50

In [4]:
subtract_numbers(40,10)

30

# Object Oriented Programming

In [5]:
class calculator:
    def add(self,a,b):
        print(a+b)
    def diff(self,a,b):
        print(a-b)
    def mult(self,a,b):
        print(a*b)

In [7]:
calc = calculator()

In [8]:
calc.add(40,20)

60

In [9]:
calc.mult(40,2)

80

# class - object - example

In [21]:
class car:
    def start(self):
        print(f"The {self.color} {self.model} car is starting.")

# Object creation our attributes set karna
car1 = car()
car1.model = "Toyota"
car1.color = "Red"

car2 = car()
car2.model = "Honda"
car2.color = "Blue"

# Methods call karna
car1.start() # Output: The Red Toyota car is starting.
car2.start() # Output: The Blue Honda car is starting.

The Red Toyota car is starting.
The Blue Honda car is starting.

# init function

init_Function kya hota hai?

init function ek special method hai jo class ke object create hone par automatic call hota hai. is function ka kaam hai 
object ke initial properties to set karna is function ko constructor bhi kerhte hain.

_init_Function kyun banate hain?

Initialization: Object ke properties ko initial values dene ke liye:
Automatic Call: Jab bhi object banate hain, _init_ function automatic call hota hai.
Consistency: Sab objects ko consistent initial statee dene ke liye.

In [56]:
class car:
    def _init_(self, model, color):
        self.model = model,
        self.color = color
    def start(self):
        print(f"The {self.color} {self.model} car is starting.")

In [57]:
car1 = Car("Toyota", "Red")
car1.start()

The Red Toyota car is starting.

In [55]:
class Car:
    def __init__(self, model, color):  # Use '__init__' instead of '_init_'
        self.model = model
        self.color = color

    def start(self):
        print(f"The {self.color} {self.model} car is starting.")

# Creating an object with proper arguments
car1 = Car("Toyota", "Red")
car1.start()

The Red Toyota car is starting.

# Lecture 25

# polymorphism with functions

In [59]:
class Bird:
    def fly(self):
        print("Bird is flying")

class Airplane:
    def fly(self):
        print("Airplane is flying")

In [60]:
bird = Bird()
airplane = Airplane()

In [61]:
bird.fly()

Bird is flying

# Run time polymorphism - method over riding

Method overriding tab hota hai jab child class
apne parent class ke method ko redefine karti hai.
yeh ensure karta hai ki child class
ke method call ho jab object child class ke ho.

In [3]:
# parent class
class Animal:
    def make_sound(self):
        print("animal make a sound")

# child class
class Dog(Animal):
    def make_sound(self):
        print("dog barks")

# child class
class Cat(Animal):
    def make_sound(self):
        print("cat meows")

In [4]:
# object create
animal = Animal()
dog = Dog()
cat = Cat()

In [5]:
animal.make_sound()
dog.make_sound()
cat.make_sound()

animal make a sound
dog barks
cat meows

# Compile time polymorphism - method overloading

Python me method overloading directly support nahi karta,
lekin hum default arguments ka use karke
ek method ko multiple tarike se use kar sakte hain.

In [7]:
class Calculator:
    def add(self,a,b,c=0):
        print(a+b+c)

In [8]:
calc = Calculator()

In [9]:
calc.add(2,7)

9

In [10]:
calc.add(5,6,7)

18

# polymorphism in real world scenario

In [ ]:
Imagine kariye ek software application jo different types of media files ko
play karta hai jaise audio files aur video files. hum ek mediaplayer class create kar sakte hain
jo play method ko  define karega, aur phir audioplayer aur videoplayer classes inherit karengi mediaplayer
class ko aur play method ko override karengi apne specific behavior ke liye.

In [11]:
class Mediaplayer:
    def play(self):
        print("playing media")

class Audioplayer(Mediaplayer):
    def play(self):
        print("playing audio file")

class Videoplayer(Mediaplayer):
    def play(self):
        print("playing video file")

In [12]:
media = Mediaplayer()
audio = Audioplayer()
video = Videoplayer()

In [15]:
media.play()
audio.play()
video.play()

playing media
playing audio file
playing video file

# Lecture 26

# oops - part 3

# Inheritance

# Single inheritance

In [2]:
class Parent:
    def show(self):
        print("this is parent class")

class Child(Parent):
    def display(self):
        print("this is child class")

In [3]:
child = Child()

In [4]:
child.show()

this is parent class

In [5]:
child.display()

this is child class

# Multiple inheritance

In [6]:
class Mother:
    def show_mother(self):
        print("this is mother class")

class Father:
    def show_father(self):
        print("this is father class")

class Child(Mother, Father):
    def show_child(self):
        print("i am child class")

In [7]:
child = Child()

In [8]:
child.show_mother()
child.show_father()
child.show_child()

this is mother class
this is father class
i am child class

# Multi level inheritance

In [11]:
class Grandparent:
    def show_grandparent(self):
        print("grand parents")

class parents(Grandparent):
    def show_parents(self):
        print("parents")

class Child(parents):
    def show_child(self):
        print("child class")

In [13]:
child1 = Child()

In [14]:
child1.show_grandparent()
child1.show_parents()
child1.show_child()

grand parents
parents
child class

In [15]:
parent1 = parents()

In [16]:
parent1.show_grandparent()

grand parents

# Hierarichal inheritance

In [8]:
class Parent:
    def show(self):
        print("Parent Class")

class Child1(Parent):
    def display1(self):
        print("Child1 Class")

class Child2(Parent):
    def display2(self):
        prit("Child2 Class")

In [10]:
childa = Child1()
childb = Child2()

In [11]:
childa.show()
childb.show()

Parent Class
Parent Class