# Lecture 4
# built in functions part 1

In [1]:
num_int = 15
print(type(num_int))
a = float(num_int)
print(type(a))

<class 'int'>
<class 'float'>

a = "3.14"
print(type(a))
b = float(a)
print(b)
print(type(b))

# int function

In [6]:
a = 7.123456
print(type(a))
c = int(a)
print(c)
print(type(c))

<class 'float'>
7
<class 'int'>

In [7]:
a1 = "25"
print(type(a1))
b1 = int(a1)
print(type(b1))

<class 'str'>
<class 'int'>

# str function

In [9]:
a = 76
print(type(a))
b = str(a)
print(b)
print(type(b))
c = "2"
print(b+c)
print(a+2)

<class 'int'>
76
<class 'str'>
762
78

In [11]:
x = 7.123456543
print(type(x))
y = str(x)
print(y)
print(type(y))

<class 'float'>
7.123456543
<class 'str'>

# complex function

In [13]:
comp = complex(5, 7)
print(comp)

(5+7j)

In [16]:
y = complex(7,85)
print(y)

(7+85j)

# abs function

In [17]:
x = -25
print(abs(x))

25

In [18]:
y = -6.54321
print(abs(y))

6.54321

In [19]:
z = -4+3j
print(abs(z))

5.0

# len function

In [21]:
a = "hello i am your educator Shubham Kumar"
print(len(a))

38

In [23]:
b = "water floow"
print(len(b))

11

In [24]:
c = [ 13,15,23, 45, 84, 5, 7]
print(len(c))

7

# Lecture 5

# built in functions part 2

# Bin function

the bin() function in Python is used to
convert an integer number to its
binary representation as a string prefixed with '0b'
It takes an integer as an argument
and returns its binary representation

In [25]:
binary_rep = bin(10)
print(binary_rep)

0b1010

In [26]:
z = bin(300)
print(z)

0b100101100

In [27]:
x = bin(987654321)
print(x)

0b111010110111100110100010110001

# sum function

The sum() function in Python is used to calculate the sum
of elements in an iterable, such as lists, tuples, and other iterable objects.

In [29]:
my_list = [5,4,8,23,53,94,75,34,58,5,6,7,432,65,7,]
a = sum(my_list)
print(a)

876

str = ["shubham', nitesh"]
print(sum(str))

a = "shubham"
b = "kumar"
print(a+b)

In [34]:
a = [1,2,3,4,5]
starting_value = 10
total = sum(a, starting_value)
print(total)

25

# Eval function

eval(): Evaluates a Python expression stored in a string

In [35]:
x = 10
y = 5
expression = "x+y*2"
print(eval(expression))

20

In [36]:
exp = " 5/2+3.5 "
print(eval(exp))
print(type(exp))

6.0
<class 'str'>

In [37]:
exp1 = " 234*25+63-98/2 "
print(eval(exp1))

5864.0

In [38]:
x = 5
y = 2.5
z = 32
exp ="x+y-z*23/5-9*3"
print(eval(exp))

-166.7

# Help function

In [ ]:
The Python help function is used to display the
documentation of modules, functoins, classes, keywords, etc

In [40]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [41]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating-point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False)
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [43]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [48]:
sum??

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

# input function

In [50]:
name = input("enter your name")
print("name entered by user is", name)
print(type(name))

enter your name Shubham Kumar

name entered by user is Shubham Kumar
<class 'str'>

In [51]:
age = input("enter your age pls")
print("age of user is",age)
print(type(age))

enter your age pls 20

age of user is 20
<class 'str'>

# Question 1

In [ ]:
Get two numbers from the user and calculate their sum

In [53]:
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
sum = num1 + num2
print(sum)

enter first number 5
enter second number 20

25

# Lecture 5

# Control Flow Statements
# if statement

In [3]:
i = 20

if i<10:
    print("20 is greater than 10")
print("condition is false")

condition is false

In [ ]:
Develop a temperature converter in Python for a cold storage
that converts temperatures between Celsius and Fahrenheit scales
THe program should take a temperature value and a unit (C or F) as input.
If the temperature is less than 15 degrees Celsius, inform the user that
the temperature is not convenient. If the temperature is between 24 to 28 degrees
Celsius, inform the user that the temperature is convenient.

In [8]:
temp = float(input("enter the temperature"))

if temp<15:
    print("temperature is not convinient")

if 24<temp<28:
    print("temperature is convinient")

enter the temperature 27

temperature is convinient

# if else staement

In [ ]:
write a program to check whether a person is eligible for voting or not

In [10]:
age = int(input("enter your age"))

if age>18:
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

enter your age 35

you are eligible to vote

# if elif else

In [ ]:
Write a Python program that prompts the user to input a city
and displays the famous monument of that city

Mumbai: Gateway of India
Kolkata: Victoria Memorial
Chennai: Marina Beach
Bangalore: Botanical Garden
Pune: Shaniwar Wada

Write a Python script to implement this functionality

In [20]:
a = input("enter the city")

if a == "Mumbai":
    print("the famous monument is aget way of India")
elif a == "Kolkata":
    print("the famous monument is victoria memorial")
elif a == "Chennai":
    print("the famous monument is marina beach")
elif a == "Bangalore":
    print("the famous monument is botanical garden")
elif a == "Pune":
    print("the famous monument is shaniwar wada")
else:
    print("no record found")

enter the city Delhi

no record found

# Lecture 6 Loops

# While loop

In [21]:
count = 1
while count<=6:
    print(count)
    count = count + 1

1
2
3
4
5
6

# Write a Python program to print all even numbers between 1 and 50 using
# a while loop

In [22]:
num = 1

while num<=50:
    if num%2 == 0:
        print(num)
    num = num+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

# While loop, using if else

You are tasked with validating user input for email addresses.
Write a Python program that prompts the user to enter an emial address.
Use a while loop to iterate through the input and check if the email address contains an "@" symbol
and "." symbol. if the email address does not meet these criteria, print "Invailed email address
format. Please try again. "Otherwise",
print "Email address validation passed"

In [8]:
email = input("enter your mail id")

valid_email = False

while not valid_email:
    if "@" in email and "." in email:
        print ("your email id is valid")
        
        valid_email = True
    else:
        print("your mail id is not vaild, try again")
        email = input("please enter your mail id")

enter your mail id rshubhamkumar004@gmail.com

your email id is valid

In [32]:
email = input("Please enter your mail id")

# Initialize a flog to track validation status
valid_email = False

# start the loop
while not valid_email:
    # check if email contains "@" and "."
    if "@" in email and "." in email:
        print ("Email address validation passed")
        
        valid_email = True
    else:
        print("Invalid email address format. Please try again.")
        email = input("please enter your mail address")

Please enter your mail id rsh004@gmail

Invalid email address format. Please try again.

please enter your mail address rshubhamkumar004@gamil.com

Email address validation passed

# Lecture 7

# For loop in Python

In Python, a for loop is used to iterate over a sequence (such as a list, tuple, string, dictionary, or range)
and execute a block of code for each item in the sequence

In [35]:
numbers = [1,2,3,4,5,6]
for i in numbers:
    print(i)

1
2
3
4
5
6

In [36]:
n = "students"
for i in n:
    print(i)

s
t
u
d
e
n
t
s

In [38]:
for i in range(26):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [39]:
for x in range(5, 27):
    print(x)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

In [40]:
for x in range(16,36):
    print(x)

16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

# for loop and if condition

In [48]:
for i in range(0,26):
    if i%2==0:
        print("the number is even",i)

the number is even 0
the number is even 2
the number is even 4
the number is even 6
the number is even 8
the number is even 10
the number is even 12
the number is even 14
the number is even 16
the number is even 18
the number is even 20
the number is even 22
the number is even 24

In [49]:
for i in range(0,26):
    if i%2==0:
        print("the number is even",i)
    else:
        print("the number is odd",i)

the number is even 0
the number is odd 1
the number is even 2
the number is odd 3
the number is even 4
the number is odd 5
the number is even 6
the number is odd 7
the number is even 8
the number is odd 9
the number is even 10
the number is odd 11
the number is even 12
the number is odd 13
the number is even 14
the number is odd 15
the number is even 16
the number is odd 17
the number is even 18
the number is odd 19
the number is even 20
the number is odd 21
the number is even 22
the number is odd 23
the number is even 24
the number is odd 25

# Implement a Python program to generate the multiplication
# table of a given number using a for loop

In [52]:
number = int(input("enter a number to generate its multiplication table"))
print("The mulitplication table of",number)

for i in range(1,11):
    print(f"{number} x {i} = {number*i}")

enter a number to generate its multiplication table 16

The mulitplication table of 16
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

# Practice Question

In [ ]:
You are tasked with creating a program to assist

# break statment

In [ ]:
We can use the break statement with the for loop to terminate the loop when a certain condition is met

In [55]:
for i in range(7):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

# Continue statement

The continue statement is uesd to skip the current iteration of the loop and the control flow of the program goes to the next
iteration

In [56]:
for i in range(5):
    if i == 3:
        continue
    print(i)
print("i am learning python")

0
1
2
4
i am learning python

# Lecture 8

User defined functions

# creating and calling a function

In [57]:
def my_function():
    print("hello i am Shubham Kumar")

In [58]:
my_function()

hello i am Shubham Kumar

In [34]:
def details_bill():
    print("the last date of the payment is on next weak sunday")
    print("after deadline, you need to pay rs 1000 as a fine")
    print("pay your bill soon")

In [35]:
for i in range(3):
    a = input("enter your name")
    b = int(input("enter the unit os electricity you have consumed"))
    bill = b * 10
    print("total amount of bill ypou need to pay is", bill)
    details_bill()

enter your name Shubham Kumar
enter the unit os electricity you have consumed 500

total amount of bill ypou need to pay is 5000
the last date of the payment is on next weak sunday
after deadline, you need to pay rs 1000 as a fine
pay your bill soon

enter your name rohit
enter the unit os electricity you have consumed 250

total amount of bill ypou need to pay is 2500
the last date of the payment is on next weak sunday
after deadline, you need to pay rs 1000 as a fine
pay your bill soon

enter your name subhas
enter the unit os electricity you have consumed 650

total amount of bill ypou need to pay is 6500
the last date of the payment is on next weak sunday
after deadline, you need to pay rs 1000 as a fine
pay your bill soon

# Arguments

# Create a function, which checks the number is even or odd

def check_even_odd(number):
    if number%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [76]:
check_even_odd(26)

the number is even

In [77]:
check_even_odd(39)

the number is odd

# Two Arguments

In [78]:
def my_name(fname, lname):
    print(fname + " " + lname)

In [79]:
my_name("Shubham", "Kumar")

Shubham Kumar

In [ ]:
Write a user-defined function to process the exam scores and calculate the following statistics:

The average exam score.
The highest exam score.
The lowest exam score.
The number of students who passed the exam (assuming a passing score is 80 or above).
The number of students who failed the exam.

eaxm_scores = [ 85, 92, 78, 90, 88, 95, 82, 79, 87, 91]

def calculate_exam_statistics(exam_scores):

    num_students = len(exam_scores)
    average_score = sum(exam_scores)/num_students
    highest_score = max(exam_scores)
    lowest_score = min(exam_scores)

    num_passed = 0
    for score in exam_scores:
        if scroe>=80:
        num_passed = num_passed+1
        
    num_failed = num_students - num_passed
    
    return average_score, highest_score, lowest_score, num_passed, num_failed

eaxm_scores = [ 85, 92, 78, 90, 88, 95, 82, 79, 87, 91]

average_score, highest_score, lowest_score, num_passed, num_failed = calculate_exam_statistics(exam_scores)

print("the average score is", average_score)
print("the highest score is", highest_score)
print("the lowest score is", lowest_score)
print("the number of students passed is", num_passed)
print("the number of students failed is", num_failed)

# Lecture 9

# String in Python - Part 1

# Creating strings in Python

In [36]:
a = 'learners'
print(a)
print(type(a))

learners
<class 'str'>

In [37]:
b = "students"
print(b)
print(type(b))

students
<class 'str'>

In [38]:
str = "I am Shubham Kumar \nThis is my first class"
print(str)

I am Shubham Kumar
This is my first class

# Multiline strings

In [39]:
a = """Jupyter Notebook is an open-source web application that allows you to create and share
documents that contain live code, equations, visualizations, and narrative text.
It's commonly used for data cleaning and transformation, numerical simulation, statistical
modeling, data visualization, machine learning, and much more.
One of the key features of Jupyter Notebook is its interactivity, which allows you to run
code in a step-by-step manner, making it excellent for exploratory data analysis and
interactive computing"""
print(a)

Jupyter Notebook is an open-source web application that allows you to create and share
documents that contain live code, equations, visualizations, and narrative text.
It's commonly used for data cleaning and transformation, numerical simulation, statistical
modeling, data visualization, machine learning, and much more.
One of the key features of Jupyter Notebook is its interactivity, which allows you to run
code in a step-by-step manner, making it excellent for exploratory data analysis and
interactive computing

# Indexing of strings

In [42]:
a = "Hello dear learners"
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])

H
e
l
l
o

d

In [44]:
a = "Hello dear learners"
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

s
r
e
n
r

In [45]:
b = "data science is the growing filed"
print(b[-1],b[-2],b[-3],b[-4])

d e l i

# Slicing

In [49]:
a = "i am learning datascience"
print(a[0:4])

i am

In [50]:
a = "i am learning datascience"
print(a[0:8])

i am lea

In [51]:
a = "i am learning datascience"
print(a[:])

i am learning datascience

# Slicing with jump

In [52]:
a = "i am learning datascience"
print(a[0:10:2])

ia er

In [53]:
a = "i am learning datascience"
print(a[0:10:3])

imen

In [56]:
a = "i am learning datascience"
print(a[::2])

ia erigdtsine

# Negative Slicing

In [57]:
a = "i am learning datascience"
print(a[-16])

n

In [58]:
a = "i am learning datascience"
print(a[-6:-1])

cienc

In [59]:
a = "i am learning datascience"
print(a[-18:-1:2])

ann aacec

# Lecture 10

# Strings - part 2

# length - method

In [1]:
s = "themathemathics"
print(len(s))

15

In [2]:
s = "the mathemathics"
print(len(s))

16

In [3]:
s = ""
print(len(s))

0

In [4]:
s = " "
print(len(s))

1

In [5]:
s = "  "
print(len(s))

2

string with spacial symbol

In [6]:
s = "hello\nworld"
print(s)
print(len(s))

hello
world
11

In [7]:
s = "hello@world"
print(s)
print(len(s))

hello@world
11

In [8]:
s = """hello
world"""
print(s)
print(len(s))

hello
world
11

In [9]:
a = "Data science also intergrates domain knowledge from the underlying application domain"
print(len(a))

85

# Python - modify strings

# upper method

In [10]:
s = "this is the mathemathics book"
print(s.upper())

THIS IS THE MATHEMATHICS BOOK

In [12]:
s = "this IS the mathemathics book 1234"
print(s.upper())

THIS IS THE MATHEMATHICS BOOK 1234

# Lower method

In [14]:
a = "i am shubham kumar"
print(a.upper())

b = "THIS IS MY PYTHON CLASS"
print(b.lower())

I AM SHUBHAM KUMAR
this is my python class

In [15]:
b = "Data science also intergrates domain knowledge from the underlying application domain"
print(b.upper())

DATA SCIENCE ALSO INTERGRATES DOMAIN KNOWLEDGE FROM THE UNDERLYING APPLICATION DOMAIN

# String concatenation

In [18]:
a = "hello"
b = "world"
print(a + " " + b)

hello world

In [19]:
a = "data"
print(a*3)

datadatadata

# replace method

In [20]:
text = "hello world, I am learning python"
rep = text.replace("python", "data science")
print(rep)

hello world, I am learning data science

In [23]:
a = """A census (from Latin censere, 'to assess') is the procedure of systematically acquiring, recording, and 
calculating population information about the members of a given population, usually displayed in the form of statistics.
This term is used mostly in connection with national
population and housing censuses;
other common censuses include censuses of agriculture, traditional culture, business, supplies, and traffic censuses."""

p = a.replace("censuses", "people")
print(p)

A census (from Latin censere, 'to assess') is the procedure of systematically acquiring, recording, and
calculating population information about the members of a given population, usually displayed in the form of statistics.
This term is used mostly in connection with national
population and housing people;
other common people include people of agriculture, traditional culture, business, supplies, and traffic people.

# index method

In [24]:
a = "i want to learn"
print(a.index("to"))

7

In [26]:
b = "The UN's Food and Agriculture Organization (FAO), in turn, defines the census of agriculture as a statistical"
print(b.index("Organization"))

30

# find method

In [27]:
a = "python is great"
b = a.find("g")
print(b)

10

# Lecture 11

# list part 1

# Creating a list

In [ ]:
mylist = ["a","b","c"]
print(mylist)
print(type(mylist))

['a', 'b', 'c']
<class 'list'>

# properties of list

# 1. Ordered

In [2]:
fruits = ["mango", "orange", "cherry"]
print(fruits[0]) # type: ignore

mango

In [ ]:
fruits = ["orange", "cherry", "mango"]
print(fruits[1])

orange

In [ ]:
fruits = ["mango", "orange", "cherry"]
print(fruits[2])

cherry

# 2. Hetrogenous

In [44]:
mixed_list = [1, "hello", 3.14, [1,2,3]]
print(mixed_list[2])

3.14

# list items - data types

In [48]:
list1 = ["apple", "banana"]
list2 = [3,2,2.5,4]
list3 = [True, False]
print(list1)

['apple', 'banana']

# 3. Indexed

In [49]:
animals = ['cat', 'dog', 'bird', 'fish']
print(animals[0])

cat

In [50]:
print(animals[-2])

bird

# slicing

# basic slicing

In [52]:
numbers = [10, 11, 12, 13, 14, 15, 16]
print(numbers[0:5])

[10, 11, 12, 13, 14]

# omiting slicing

In [58]:
numbers = [10, 11, 12, 13, 14, 15, 16]
print(numbers[:5])

[10, 11, 12, 13, 14]

In [54]:
numbers = [10, 11, 12, 13, 14, 15, 16]
print(numbers[:])

[10, 11, 12, 13, 14, 15, 16]

# negative indexing

In [55]:
numbers = [10, 11, 12, 13, 14, 15, 16]
print(numbers[-5:])

[12, 13, 14, 15, 16]

# indexing with step

In [56]:
numbers = [10, 11, 12, 13, 14, 15, 16]
print(numbers[::2])

[10, 12, 14, 16]

In [57]:
numbers = [10, 11, 12, 13, 14, 15, 16]
print(numbers[::3])

[10, 13, 16]

# practice question

In [ ]:
Given the list scores = [55, 89, 76, 65, 93, 50, 72]
write a python expression to create a
new list that contains only the scores that are above 70.

In [59]:
scores = [55, 89, 76, 65, 93, 50, 72]
high_score = []

for score in scores:
    if score>70:
        high_score.append(score)
    else:
        pass
print(high_score)

[89, 76, 93, 72]

In [ ]:
Give the list data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
write a python expression to get the sum
of the first five elements and another
expression to reverse the entire list

In [5]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sum_first_five = sum(data[:5])
print("the sum of first five item is", sum_first_five)

reverse = data[::-1]
print("the reverse string is", reverse)

the sum of first five item is 15
the reverse string is [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
Question: Given the list numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
write python expressions to:
Create a new list with the first half and the second half swapped
print the sum of the last three elements

input - numbers = [1, 2, 3, 4, 5 ,6 7, 8, 9, 10]
output -
[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
27

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Swapping the first half with the second half
swapped_list = numbers[len(numbers)//2:] + numbers[:len(numbers)//2]
print(swapped_list)  # Output: [6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

# Sum of the last three elements
sum_last_three = sum(numbers[-3:])
print(sum_last_three)  # Output: 27

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
27

# Lecture 12

list-part 2

# lenght method

In [7]:
a = [1,5,6,7,8,2,6,89,1,6,8,621,"hello",8,5,9.6]
print(len(a))

16

# mutablility property of list

# changing elements

In [3]:
a = [12,13,14,15,16,17,18,19,20,21]
a[2:4] = ["book","pen","paper"]

In [4]:
print(a)

[12, 13, 'book', 'pen', 'paper', 16, 17, 18, 19, 20, 21]

# Add list items

In [5]:
thislist = ["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [6]:
a = [14,15,12,16,17,89,45]
a.append(-20)
print(a)

[14, 15, 12, 16, 17, 89, 45, -20]

# remove the items

In [7]:
a = [4,8,21,94,89,4,84,894,9,4,9,49,459]
a.remove(21)
print(a)

[4, 8, 94, 89, 4, 84, 894, 9, 4, 9, 49, 459]

# join the list

In [8]:
list1 = [1,2,3]
list2 = [14,15,16]
list3 = ["hello", "world"]
print(list1 + list2 + list3)

[1, 2, 3, 14, 15, 16, 'hello', 'world']

# check is a list contains an element

In [10]:
a = [25,24,89,6,3,5,8,"hello","python",5.6]
3 in a

True

In [11]:
a = [25,24,89,6,3,5,8,"hello","python",5.6]
3.5 in a

False

# reversing a list

In [12]:
a = [1,23,24,35,67,76,86,25,98,59,34,45]
a.reverse()
print(a)

[45, 34, 59, 98, 25, 86, 76, 67, 35, 24, 23, 1]

# Lecture 13

# Tuples in python part 1

# Creating Tuples

In [2]:
a = (10,20,30)
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

# Empty tuple

In [3]:
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

# Single element

In [4]:
b = (5)
print(b)
print(type(b))

5
<class 'int'>

In [5]:
b = (5,)
print(b)
print(type(b))

(5,)
<class 'tuple'>

# a tuple with mixed data types

In [2]:
b = (1,3.5, "Shubham", "nishant", True)
print(b)
print(type(b))

(1, 3.5, 'Shubham', 'nishant', True)
<class 'tuple'>

# nested tuples

In [3]:
a = ("mouse",2.5, (10,20,30))
print(a)
print(type(a))

('mouse', 2.5, (10, 20, 30))
<class 'tuple'>

In [4]:
num = ([12,13,15],[17,20,29],[18,19,21])
print(num)
print(type(num))

([12, 13, 15], [17, 20, 29], [18, 19, 21])
<class 'tuple'>

# Tuple Constructor

In [5]:
empty = tuple()
print(empty)
print(type(empty))

()
<class 'tuple'>

# Converting list into tuple

In [9]:
list = [1,2,3,4,5]
number = tuple(list)
print(list)
print(type(list))
print(number)
print(type(number))

[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

# Converting string into a tuple

In [12]:
string_example = "hello"
print(string_example)
print(type(string_example))
tuple1 = tuple(string_example)
print(tuple1)
print(type(tuple1))

hello
<class 'str'>
('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

#  Converting dictionary into a tuple

In [13]:
dict_example = {'a':1, 'b':2, 'c':3}
print(dict_example)
print(type(dict_example))

tup = tuple(dict_example)
print(tup)
print(type(tup))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
('a', 'b', 'c')
<class 'tuple'>

# Converting a set into a tuple

In [15]:
set_example = {1,2,3,4,5}
print(set_example)
print(type(set_example))

tup2 = tuple(set_example)
print(tup2)
print(type(tup2))

{1, 2, 3, 4, 5}
<class 'set'>
(1, 2, 3, 4, 5)
<class 'tuple'>

# Lecture 14

# Tuple in Python part 2

# Indexing

In [16]:
my_tuple = ('apple', 'banana', 'cherry', 'date')
print(my_tuple[0])
print(my_tuple[2])

apple
cherry

# Negative indexing

In [17]:
my_tuple = ('apple', 'banana', 'cherry', 'date')
print(my_tuple[-1])
print(my_tuple[-3])

date
banana

# Slicing in tuple

In [18]:
my_tup = ('a', 'b', 'c', 'd', 'e')

print(my_tup[:4])

('a', 'b', 'c', 'd')

In [19]:
my_tup = ('a', 'b', 'c', 'd', 'e')

print(my_tup[1:4])

('b', 'c', 'd')

In [20]:
my_tup = ('a', 'b', 'c', 'd', 'e')

print(my_tup[:])

('a', 'b', 'c', 'd', 'e')

In [21]:
my_tup = ('a', 'b', 'c', 'd', 'e')

print(my_tup[::2])

('a', 'c', 'e')

# Slicing - negative indexing

In [22]:
tup2 = ('apple', 'banana', 'cherry', 'date')
print(tup2[:-3])

print(tup2[-3:])

('apple',)
('banana', 'cherry', 'date')

# Reversing the tuple

In [23]:
a = (45,21,31,14,16,28,97,69)
print(a[::-1])

(69, 97, 28, 16, 14, 31, 21, 45)

In [24]:
T = (1,2,3,4,5,6,7,8,)

print(T[::])
print(T[3:])
print(T[:4])
print(T[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

# Duplicates are allowed in tuple

In [25]:
a = (12,14,15,16,17,13,12,15,53,78,89)
print(a)

(12, 14, 15, 16, 17, 13, 12, 15, 53, 78, 89)

# Methods of tuples

# count method

In [26]:
a = (12,14,15,16,17,13,12,15,53,12,78,89)
print(a.count(12))

3

In [27]:
b = ('shubham', 'nishant', 'ayush', 'bhawesh', 'shubham', 'ayush', 'shubham')
print(b.count('shubham'))
print(b.count('ayush'))

3
2

# index method

In [3]:
b = ('shubham', 'nishant', 'ayush', 'bhawesh', 'shubham', 'ayush', 'shubham')
print(b.index('shubham'))
print(b.index('ayush'))

0
2